:root {
  --color-primary: #0F172A;
  --color-secondary: rgb(79, 70, 229);
  --color-tertiary: #0EA5E9;
  --color-neutural: #F8FAFC;
  --color-muted: #3f3f37;
  --color-border: #D6D6B1;
  --color-bg: #FFFFFF;

  --font-main: 'Inter', sans-serif;
  --font-headline: 'Manrope', monospace;
  --shadow-sm: 0 2px  10px rgba(60, 7, 23, 0.08);
  --shadow-md: 0 12px 30px rgba(60, 7, 23, 0.2);
  --shadow-lg: 0 20px 60px rgba(60, 7, 23, 0.4);
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
}